<div>
    <h3>About Us</h3>
    <hr>
    <p>
        Btal Rental And Ride <em>Btal Ride</em>
        Web Application which provide full information of available buses to be rented from description,
        it's price per rented day, status for availability at the mean time and a clear images to visually present 
        the buses. Payment will be access through COH (Cash On Hand), personally pays the rental fees during the 
        starting date when the driver brings the bus at your doorstep, Paymaya and Payload, for easy access and online Payment
        for those who have these accounts.
    </p>
</div>
