.bg-img {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../../assets/images/image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.laban {
    background-color: rgba(235, 245, 251)
}

.form-control,
.form-control:focus {
    border-radius: 0;
    background-color: transparent;
    color: rgba(0,0,0,0.9);
    border-radius: 5px;
    /* font-family: 'Courgette'; */
}

.form-control:focus {
    border: rgba(8, 7, 8,0.5) solid 1px;
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 12;
    font-weight: 100;
    color: gray;
    font-style: italic;
    /* color: rgb(8, 7, 8); */
}

.txt {
    animation: glitch .90s linear infinite;
    font-size: 20px;
    color: black;
}

.input-icon {
    font-size: 14px;
}

.card-footer{
    background-color: transparent;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
}